<div class="min-h-screen bg-gray-100 flex flex-col justify-center sm:py-12">
    <div class="relative py-3 sm:max-w-xl sm:mx-auto">
        <div
            class="absolute inset-0 bg-gradient-to-r from-blue-300 to-blue-600 shadow-lg transform skew-y-0 rotate-6 rounded-3xl">
        </div>
        <div class="relative px-4 py-10 bg-white shadow-lg sm:rounded-3xl sm:p-20">
            <div class="max-w-md mx-auto">
                <div class="text-center">
                    <h1 class="text-2xl font-semibold">Login</h1>
                </div>
                <div class="divide-y divide-gray-200">
                    <form class="pt-8 space-y-4" (ngSubmit)="onSubmit()">
                        <div class="relative">
                            <input type="email" id="email" name="email" placeholder="Email"
                                class="peer h-10 w-full border-b-2 border-gray-300 text-gray-900 placeholder-transparent focus:outline-none focus:border-blue-500"
                                [(ngModel)]="email" required>
                            <label for="email"
                                class="absolute left-0 -top-3.5 text-gray-600 text-sm transition-all peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-placeholder-shown:top-2.5">Email
                                Address</label>
                        </div>
                        <div class="relative">
                            <input type="password" id="password" name="password" placeholder="Password"
                                class="peer h-10 w-full border-b-2 border-gray-300 text-gray-900 placeholder-transparent focus:outline-none focus:border-blue-500"
                                [(ngModel)]="password" required>
                            <label for="password"
                                class="absolute left-0 -top-3.5 text-gray-600 text-sm transition-all peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-placeholder-shown:top-2.5">Password</label>
                        </div>
                        <div class="flex justify-between items-center">
                            <button type="submit"
                                class="bg-blue-500 text-white px-5 py-2 rounded-md hover:bg-blue-600">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>